.slide_right {
  -webkit-animation: slide_right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    infinite both;
  animation: slide_right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s infinite
    both;
}

@-webkit-keyframes slide_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.btn_submit {
  --color: #ea240e;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  padding: 7px 20px;
  background: black;
  border: 3px solid var(--color);
  color: white;
  font-weight: bold;
}
.btn_submit::before,
.btn_submit::after {
content: '';
position: absolute;
width: 40px;
height: 30px;
border: inherit;
transition: width .25s .15s, height .25s;
}
.btn_submit::before{
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}
.btn_submit::after{
bottom: -10px;
right: -10px;
border-width: 0 3px 3px 0;
}
.btn_submit:hover::before,
.btn_submit:hover::after{
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

/* .btn_submit:hover::before */